html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.gradient {
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, #3eb5f1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #3eb5f1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #3eb5f1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #3eb5f1 50%); /* Standard syntax (must be last) */
}


main {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 25px;
}

.search-grid {
    text-align: center;
}

.title {
    font-size: 2em; 
    text-align: center;
    color: white;
    margin:0px;
}

.form {
    display: flex;
    justify-content: center;
    margin: 8px auto 15px auto;
}

.form div {
    border: 2px solid white;
    border-radius: 5px;
}

.random-btn {
    font-size: 1.3em;
    background: #e2907a;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    min-width: 160px;
    text-align: center;
    padding: 2px 25px;
}


.random-btn:hover {
    cursor: pointer;
}

.fa-search {
    color: white;
    background: none;
    border-left: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

input {
    color: white !important;
    background: none;
    border: none;
    padding: 5px 10px;
    min-width: 250px;
}


input:focus {
    outline-width: 0;
}

input::-moz-placeholder {  
    color: white !important;
}

input::-webkit-input-placeholder{
    color:white !important;  
}
input::-moz-placeholder {  
    color: white !important;  
}

input:-ms-input-placeholder {  
    color: white !important;
}

section {
    align-self: center;   
    width: 80%;
    margin-top: 30px;
}

.result {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin-top: 15px;    
    color: white;
    background-color:rgba(0, 0, 0, 0.4);
    padding: 15px 25px;
    border-radius: 5px;
}

.result:hover {
    cursor: pointer;
    transform: scale(1.017);
    opacity: 1;
    transition: .5s;
}

h2 {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.4);
    display: inline;
    border-radius: 5px;
    padding: 0px 2px;
    font-weight: 500;
}

.result p {
    margin: 3px 1px;
    font-size: 0.8em;
}

footer {
    color: white;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen AND (max-width: 600px) { 
    .title {
        font-size: 2em;
    }

    #search, .random-btn {
        font-size: 1.2em;
    }

}
